
.cat{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
}
.cate svg{
	width: 16px;
	fill: #e05050;
}
.cat:hover{
	scale: 1.05;
}
.cate p{
	color:#e05050 ;
}
.cate{
	background-color: #141414;
}

button {
  padding: 6px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
	background-color: bisque;
	width: 140px;
	height: 28px;
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: #141414;
	
}
.cards{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.btns{
	
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	margin: 0 auto;
}
.btns svg{
	padding: 3px;
}
.wrapper-btns{
	width: 100vw;
	background-color: #FFF;
	padding-top: 3px;
	padding-bottom: 7px;
}

@media (max-width: 1150px) {
	.cards{
		justify-content: center;
	}
}

@media (max-width: 430px) {
	.btns{
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 6px	;
	}
}